#navbarName{
    font-size: 2em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.mainContainer{
    margin-top: 100px;
    margin-bottom: 200px;
    width: 100%;
}

#appName{
    font-family: 'Fira Sans', sans-serif ;
    font-size: 3em;
}

.myInput{
    width: 30%;
}

#chatSec{
    margin-top: 100px;
}
.chatContainer{
    width: 50%;
}

.chatP{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.25em;
}

.msgDiv{
    width: 100%;
    max-height: 200px;
    overflow: auto;
}

.msgBody {
    width: 100%;
}

.msgContent {
    width: 60%;
    border-radius: 10px;
}

@media (max-width: 767px) {

    .chatP{
        font-size: .9em;
    }

    .msgContent {
        font-size: .9em;
    }
}